.showcase .left-section {
  margin-top: -8rem;
}
.showcase .left-section h1 {
  margin-bottom: 6px;
  font-weight: 900;
  font-size: 40px;
  color: #03562d;
}

.showcase .left-section p {
  font-size: 20px;
  font-style: italic;
  color: #000;
}

.showcase .left-section button {
  color: #03562d;
  border: 2px solid #03562d;
}

.showcase .left-section button:hover {
  color: #fff;
  background: #03562d;
}

.company-details h4 {
  font-size: 17px;
  margin: 0 13rem;
  font-family: Arial;
  font-style: italic;
}
